# Import the required libraries and modules

In [1]:

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd
import time

# Setup and Start

In [2]:

start_time = time.time()

url = "https://www.adamchoi.co.uk/overs/detailed"
s = Service("chromedriver-win32/chromedriver")

driver = webdriver.Chrome(service = s)
driver.get(url)
time.sleep(3)

In [3]:

# Find and click matches button

all_matches_button = driver.find_element(By.XPATH, value = '//label [@analytics-event = "All matches"]')
all_matches_button.click()

# Extract data from table

In [26]:

# we have multiple rows so use element(s) and for loop

date = []
home_team = []
score = []
away_team = []

matches = driver.find_elements(By.TAG_NAME , value = "tr")

for match in matches:
    date.append(match.find_element(By.XPATH , value = "./td[1]").text)
    home_team.append(match.find_element(By.XPATH , value = "./td[2]").text)
    score.append(match.find_element(By.XPATH , value = "./td[3]").text)
    away_team.append(match.find_element(By.XPATH , value = "./td[4]").text)
    
# print(date)

In [32]:
df = pd.DataFrame(data = {"date": date, "home_team": home_team ,"score": score, "away_team": away_team})
df

           date       home_team  score    away_team
0    05-08-2022  Crystal Palace  0 - 2      Arsenal
1    13-08-2022         Arsenal  4 - 2    Leicester
2    20-08-2022     Bournemouth  0 - 3      Arsenal
3    27-08-2022         Arsenal  2 - 1       Fulham
4    31-08-2022         Arsenal  2 - 1  Aston Villa
..          ...             ...    ...          ...
755  29-04-2023        Brighton  6 - 0       Wolves
756  06-05-2023          Wolves  1 - 0  Aston Villa
757  13-05-2023      Man United  2 - 0       Wolves
758  20-05-2023          Wolves  1 - 1      Everton
759  28-05-2023         Arsenal  5 - 0       Wolves

[760 rows x 4 columns]

In [33]:
df.to_csv("football_data.csv", index= False)